body {
  margin: 0;
  background: #e5e5e5;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 380px;
  background: linear-gradient(to bottom, #f8f4ef, #efe7df);
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

/* IMAGEM */
.foto {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}

/* BOTÕES */
.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  width: 48%;
  padding: 14px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* ESTILO BASE */
.guri {
  background: #9aa7a1;
  color: white;
}

.guria {
  background: #d6b29b;
  color: white;
}

/* SELECIONADO */
.selected {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  opacity: 1;
}

.dimmed {
  opacity: 0.5;
}

/* REVEAL */
#revealBtn {
  display: none;
  width: 100%;
  margin-top: 15px;
  background: #333;
  color: white;
}